<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
    # status Logs internos do log4j2
     <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow,
            INFO=green, DEBUG=blue} %p %m%n"/>
        </Console>

    </Appenders>

    <Loggers>

        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>
</Configuration>